# Première ouverture des fichiers

## Imports

In [18]:
import pandas as pd
from config.paths import DONNEES_HISTORIQUES, DONNEES_AGRO_CLIMATIQUES

## Fichiers

### Données historiques de rendement selon les cultures et les régions

In [19]:
df_historiques = pd.read_csv(DONNEES_HISTORIQUES / "crop_yield.csv")

In [20]:
df_historiques.head()

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,West,Sandy,Cotton,897.077239,27.676966,False,True,Cloudy,122,6.555816
1,South,Clay,Rice,992.673282,18.026142,True,True,Rainy,140,8.527341
2,North,Loam,Barley,147.998025,29.794042,False,False,Sunny,106,1.127443
3,North,Sandy,Soybean,986.866331,16.644190,False,True,Rainy,146,6.517573
4,South,Silt,Wheat,730.379174,31.620687,True,True,Cloudy,110,7.248251

In [17]:
df_historiques.shape

(1000000, 10)

### Données agronomiques et climatiques annuelles (usage de pesticides, fertilisants, température moyenne, etc.)

In [27]:
df_pesticides = pd.read_csv(DONNEES_AGRO_CLIMATIQUES / "pesticides.csv")
df_rainfall = pd.read_csv(DONNEES_AGRO_CLIMATIQUES / "rainfall.csv")
df_temp = pd.read_csv(DONNEES_AGRO_CLIMATIQUES / "temp.csv")
df_rendements_agro = pd.read_csv(DONNEES_AGRO_CLIMATIQUES / "yield_df.csv")
df_rendements_fao = pd.read_csv(DONNEES_AGRO_CLIMATIQUES / "yield.csv")

In [28]:
df_rendements_fao.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400

In [29]:
df_rendements_fao.shape

(56717, 12)

In [30]:
df_rendements_agro.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [31]:
df_rendements_agro.shape

(28242, 8)

In [32]:
df_temp.head()

   year        country  avg_temp
0  1849  Côte D'Ivoire     25.58
1  1850  Côte D'Ivoire     25.52
2  1851  Côte D'Ivoire     25.67
3  1852  Côte D'Ivoire       NaN
4  1853  Côte D'Ivoire       NaN

In [33]:
df_temp.shape

(71311, 3)

In [34]:
df_rainfall.head()

          Area  Year average_rain_fall_mm_per_year
0  Afghanistan  1985                           327
1  Afghanistan  1986                           327
2  Afghanistan  1987                           327
3  Afghanistan  1989                           327
4  Afghanistan  1990                           327

In [36]:
df_rainfall.shape

(6727, 3)

In [37]:
df_pesticides.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Pesticides Use,Albania,Use,Pesticides (total),1990,tonnes of active ingredients,121.0
1,Pesticides Use,Albania,Use,Pesticides (total),1991,tonnes of active ingredients,121.0
2,Pesticides Use,Albania,Use,Pesticides (total),1992,tonnes of active ingredients,121.0
3,Pesticides Use,Albania,Use,Pesticides (total),1993,tonnes of active ingredients,121.0
4,Pesticides Use,Albania,Use,Pesticides (total),1994,tonnes of active ingredients,201.0

In [38]:
df_pesticides.shape

(4349, 7)